{{!< default}}

{{#post}}
<article class="page-article">
    <header class="post-header">
        <nav class="post-nav">
            <a href="/" class="post-nav-home">Hudson Paine</a>
        </nav>
    </header>
    <div class="post-content-wrapper">
        {{#if @page.show_title_and_feature_image}}
        <h1 class="post-title">{{title}}</h1>
        {{#if feature_image}}
        <figure class="post-feature-image">
            <img src="{{feature_image}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
        </figure>
        {{/if}}
        {{/if}}
        <div class="post-content">
            {{content}}
        </div>
    </div>
</article>
{{/post}}
